<%- partial('_partial/head') %>
<body class="home">
    <%- partial('_partial/header') %>
    <div class="container body clearfix">
        <section class="content">
            <div class="content-main widget">
                <%- body %>
            </div>
        </section>
        <%- partial('_partial/sidebar') %>
    </div>
    <%- partial('_partial/footer') %>
</body>
</html>