<!-- 文章列表 item -->
<article class="post">
    <header>
        <!-- 标签这有且只能显示一个 -->
        <% if (post.categories && post.categories.length) { %>
        <%-
            list_categories(post.categories, {
                show_count: false,
                class: 'cat',
                style: 'none',
                separator: '|'
            }).split('|')[0]
        %>
        <% } else { %>
            <a href="javascript: void(0);" class="cat">未分类</a>
        <% } %>
        <h3 class="post-title">
            <a href="<%= url_for(post.link || post.permalink) %>">
                <%= post.title || post.link %>
            </a>
        </h3>
    </header>
    <p class="post-meta">
        <%- config.author %> 发表于
        <time datetime="<%= date_xml(post.date) %>"><%= date(post.date, config.date_format) %></time>
        <span class="post-tags">
            标签：
            <% if (post.tags && post.tags.length) { %>
                <% post.tags.forEach(function(tag, i) { %>
                    <%- link_to(tag.path, tag.name) %><% if (i != post.tags.length - 1) { %> / <% } %>
                <% }); %>
            <% } %>
        </span>
    </p>

    <div class="post-content">
        <div class="post-excerpt">
            <% if (index == true) { %>
                <%- post.blogexcerpt || post.excerpt || shortPost(post.content) %>
            <% } %>
            <p class="more">
                <a href="<%- url_for(post.permalink) %>">查看全文</a>
            </p>
        </div>
    </div>
</article>
